<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="user_form_wrap">
  <div class="field center-block">
    <%= f.label :email, "メールアドレス", class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field remember_me_wrap">
      <%= f.label :remember_me ,"次回から入力を省略", class: "remember_me_text" %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-primary w-auto" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
